* {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
}
body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
a,
.fake-a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.btn {
    padding: 7px 15px;
    display: block;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    &--main {
        color: #fff;
        background-color: $brownMain;
        padding: 15px 50px 15px 50px;
        margin-bottom: 20px;
    }
    &--big {
        width: 100%;
        padding: 15px;
    }
    &--inline {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }
    &--search {
        color: #fff;
        background-color: $brownMain;
        padding: 15px 50px 15px 50px;
        margin-left: auto;
        margin-right: auto;
    }
    &--bordered {
        color: $brownMain;
        background-color: #fff;
        padding: 15px 35px 15px 35px;
        border: 1px solid $brownMain;
        border-radius: 3px;
        font-size: 15px;
    }
}

p {
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 15px;
}

h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 15px;
}

input,
textarea {
    width: 100%;
    padding: 9px 15px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: normal;
    &[type='range'] {
        // width: auto;
        padding: 0;
        border-radius: 0;
        border: 0;
        -webkit-appearance: none;
        width: 100%;
        margin: 11px 0;
        &:focus {
            outline: none;
        }
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            background: $blueMain;
            border-radius: 1.3px;
            border: 0.2px solid #010101;
        }
        &::-webkit-slider-thumb {
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            border: 1px solid $brownMain;
            height: 15px;
            width: 15px;
            border-radius: 50px;
            background: $brownMain;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -6.2px;
        }
        &:focus::-webkit-slider-runnable-track {
            background: $blueMain;
        }
        &::-moz-range-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            background: #707070;
            border-radius: 1.3px;
            border: 0.2px solid #010101;
        }
        &::-moz-range-thumb {
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            border: 1px solid $brownMain;
            height: 23px;
            width: 23px;
            border-radius: 50px;
            background: $brownMain;
            cursor: pointer;
        }
        &::-ms-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
        &::-ms-fill-lower {
            background: #707070;
            border: 0.2px solid #010101;
            border-radius: 2.6px;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        }
        &::-ms-fill-upper {
            background: #707070;
            border: 0.2px solid #010101;
            border-radius: 2.6px;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        }
        &::-ms-thumb {
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            border: 1px solid $brownMain;
            // height: 23px;
            width: 23px;
            border-radius: 50px;
            background: $brownMain;
            cursor: pointer;
            height: 1px;
        }
        &:focus::-ms-fill-lower {
            background: #707070;
        }
        &:focus::-ms-fill-upper {
            background: #707070;
        }
    }
    &[type='text'] {
        border: 1px solid #d9d5d5;
    }
    &[type='email'] {
        border: 1px solid #d9d5d5;
    }
    &[type='password'] {
        border: 1px solid #d9d5d5;
    }
}

.heroBanner {
    color: white;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    display: inline-block;
    width: 100%;
}

.heroBanner__desc {
    margin: 40px 0 40px 0;
    width: 60%;
    line-height: 2;
    font-weight: 300;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.heroBanner__inner {
    margin-top: 125px;
    @media (max-width: 1200px) {
        padding: 20px;
    }
}

.introTextBanner__title {
    text-align: center;
}

.introTextBanner__inner {
    padding: 100px 0 80px 0;
    background-color: #f8f8f8;
    margin-bottom: 60px;
}

.loader {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    &__inner {
        height: 50px;
        width: 50px;
        animation: spin 2.2s infinite linear both;
    }
    &__inner__lg {
        width: 40px;
        height: 40px;
        animation: spinBackwards 1.8s infinite linear both;
        animation-delay: 0.4;
    }
    &__inner__md {
        width: 30px;
        height: 30px;
        animation: spin 1.4s infinite linear both;
        animation-delay: 0.8;
    }
    &__inner__sm {
        width: 20px;
        height: 20px;
        animation: spinBackwards 1s infinite linear both;
        animation-delay: 1.2;
    }
    &__inner,
    &__inner__sm,
    &__inner__xs,
    &__inner__md,
    &__inner__lg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
        border-radius: 50%;
        border-left: 3px solid $blueMain;
        border-top: 3px solid transparent;
        border-right: 3px solid $blueMain;
        border-bottom: 3px solid transparent;
        &--sm {
            height: 30px;
            width: 30px;
            border-width: 2px;
        }
    }
    &--sm {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.6);
    }
}

@keyframes spinBackwards {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.action--disabled {
    cursor: not-allowed;
    opacity: 0.25;
}
.ReactTable {
    .rt-tr {
        .action--disabled {
            i {
                cursor: not-allowed;
                &:hover {
                    color: #000;
                }
            }
        }
    }
}
.form_field {
    label {
        font-size: 12px;
        font-weight: 500;
    }
    input,
    textarea {
        border: 1px solid $borderGrey;
        font-size: 12px;
        border-radius: 3px;
    }
    &--select .form_control {
        font-size: 12px;
    }
}

.page {
    &--static {
        min-height: 100vh;
        margin-bottom: 50px;
        padding-top: 140px;
        .singleBackgroundImage {
            margin: 20px 0;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &--content {
        padding: 40px 20px;
    }
    &--text {
        padding-top: 140px;
    }
}
.DateInput_input {
    height: 38px;
}

.imageSlider {
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    margin-top: 30px;
    img {
        cursor: default;
        margin-left: 10px;
        margin-right: 10px;
    }
    @media (max-width: 767px) {
        white-space: unset;
    }
}

.titleLabel {
    font-weight: 500;
}
.subtitleLabel {
    font-weight: 400;
    color: $brownMain;
    font-size: 22px;
}

.singleProductComparision {
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
    width: 100%;
    i {
        color: $blueMain;
        margin-right: 15px;
        font-size: 30px;
    }
    .row {
        width: 100%;
        @media only screen and (min-width: 768px) {
            height: 80px;
        }
    }
    .grey {
        background-color: $greyMain;
        font-weight: 500;
        font-size: 18px;
        @media only screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }
    }
    .col {
        width: 33.333333%;
        float: left;
        text-align: center;
        padding: 20px;
        font-weight: 500;
    }
    &:last-child {
        border-bottom: 1px solid $borderGrey;
    }
    @media only screen and (max-width: 767px) {
        .col {
            width: 100%;
        }
    }
}

.productDataDetails {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    div {
       display: flex;
       justify-content: space-between;
        height: 50px;
        text-align: left;
        padding: 25px;
        @media (min-width:768px) {
            width: 50%;
            margin: 0 auto;
        }
        span {
            &:last-child {
                float: right;
            }
        }
    }
}

.contactForm {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('/contact.jpeg');
    .contactBox {
        background-color: white;
        width: 40%;
        min-width: 325px;
        float: right;
        margin-top: 100px;
        min-height: 400px;
    }
    button {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.errorHandler {
    position: fixed;
    z-index: 1001;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    &__inner {
        padding: 15px 30px;
        background-color: rgba(red, 0.7);
        text-align: center;
        pre {
            font-size: 10px;
        }
    }
    &__exit {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: 0.2s linear opacity;
        &:hover {
            opacity: 0.7;
        }
        &:before,
        &:after {
            width: 100%;
            height: 2px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            position: absolute;
            content: '';
            transform-origin: 50% 50%;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &__message {
        p,
        h1,
        h2,
        h3 {
            color: #fff;
        }
    }
}
.singleBackgroundImage {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    @media (max-width: 767px) {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.imagePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-color: rgba($blueMain, 0.5);
    &__exit {
        position: absolute;
        right: 30px;
        top: 30px;
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;
    }
    &__inner {
        @extend .container;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: auto;
        text-align: center;
        height: 100vh;
        display: flex;
        align-items: center;
        img {
            height: 90vh;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 767px) {
                height: auto;
                width: 100%;
            }
        }
    }
    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: #fff;
        border: 1px solid $blueMain;
        border-radius: 3px;
        padding: 12px;
        font-size: 30px;
        @media (max-width: 767px) {
            padding: 10px;
            font-size: 25px;
        }
        &--prev {
            left: 30px;
            @media (max-width: 767px) {
                left: 5px;
            }
        }
        &--next {
            right: 30px;
            @media (max-width: 767px) {
                right: 5px;
            }
        }
    }
}

.ulType {
    list-style-type: disc;
    margin-left: 30px;
}
.noResult {
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.color-brown {
    color: $brownMain;
}
.input--range__heading {
    position: relative;
}

.more-info {
    position: absolute;
    left: 140px;
    cursor: pointer;
    font-size: 17px;
    line-height: 35px;
}
.form--searchInvestments__range-wrapper .form_field label {
    font-size: 14px;
}

.risk-description {
    display: none;
    font-size: 11px;
    padding: 10px;
    border: 1px solid $borderGrey;
    width: 50%;
    min-width: 320px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 300px;
    background-color: white;
    z-index: 10;
    right: 20px;
    i {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}
.show {
    display: block !important;
}

#footer__brand {
    @media (max-width: 768px) {
        display: none;
    }
}
.center {
    text-align: center;
}

.activeInvestmentDetails {
    .container {
        padding: 0 15px;
    }
}

.bannerImage {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
