.footer {
    margin-top: auto;
    background-color: $blueMain;
    color: #fff;
    padding: 70px 0px;
    &__inner {
        display: flex;
        @media (max-width: 767px) {
            display: block;
        }
    }
    &__l,
    &__r {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__r {
        display: flex;
        justify-content: center;
    }
    &__l {
        @media (min-width: 768px) {
            padding-right: 50px;
        }
        h2 {
            float: left;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &__menu {
        @media (min-width: 768px) {
            flex: 1 0 33%;
            line-height: 2;
            min-width: 150px;
        }
        @media (max-width: 767px) {
            width: 33%;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
        }
    }
}

#footer__logo {
    width: 200px;
    cursor: pointer;
    margin-top: 50px;
    @media (max-width: 767px) {
        margin-top: 0;
    }
}
