.page {
  &--dashboard {
    display: flex;
    background-color: $greyMain;
    &__menu {
      flex: 0 1 100px;
      background-color: $blueMain;
      min-height: 100vh;
      li {
        display: block;
        height: 70px;
        width: 100%;
        text-align: center;
        padding: 15px;
        cursor: pointer;
        font-size: 30px;
        i {
          opacity: 0.6;
        }
        img {
          height: 100%;
        }
        &:hover {
          background-color: $brownMain;
        }
      }
    }
    &__content {
      margin: 40px 0 0 20px;
      width: 100%;
      overflow-x: auto;
      padding: 0 5px;
    }
  }
  &--singleInvestment {
    margin-top: 150px;
    .container {
      &__buttons {
        display: flex;
        justify-content: space-evenly;
        margin: 80px;
        @media (max-width: 961px) {
          flex-direction: column;
          align-items: center;
        }
      }
      iframe {
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: 501px) {
          height: 360px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .page {
    &--dashboard {
      flex-direction: column;
      &__menu {
        min-height: unset;
        flex: 0 1 70px;
        ul {
          display: flex;
          justify-content: space-around;
          li {
            width: unset;
          }
        }
      }
      &__content {
        margin: 20px 5px;
      }
    }
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
      // transform: translateY(100px);
      transform: scale(0)
    }
    100% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1)
  }
}
// .investmentWrapper {
//   display: flex;
//   justify-content: center;
  .investmentContainer {
    // width: calc(100% - 20px);
    &--list-view {
      display: flex;
      flex-direction: column;
    }
    &--tile-view {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .investmentBlock {
      width: 100%;
      animation: slide-up 0.3s;
      &--tile-view {
        flex-basis: 100%;
        box-shadow: 0px 4px 7px rgba(0,0,0,0.15);
        margin: 20px 10px;
        animation: slide-up 0.2s;
        @media (min-width: 601px) {
          flex-basis: 46%;
        }
        @media (min-width: 1024px) {
          flex-basis: 30%;
        }
      }
      &:nth-of-type(even) {
        background-color: $greyMain;
      }
      &__icon {
        // width: 200px;
        flex: 0 1 185px;
        min-height: 110px;
      }
      &__inner {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: center;
        min-height: 200px;
      }
      &__icon {
        min-height: 110px;
        float: left;
        img {
          max-height: 150px;
        }
        &--list-view {
          width: 200px;
          @media (max-width: 640px) {
            display: none;
          }
        }
        &--tile-view {
          width: 100%;
          text-align: center;
        }
        // @media (max-width: 640px) {
        //   display: none;
        // }
      }
      &__desc {
        text-align: left;
        width: calc(100% - 400px);
        float: left;
        padding-right: 35px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 160px;
        p {
          max-height: 7.5em;
          overflow: hidden;
        }
      }
      &__action {
        &--list-view {
          @media (max-width: 640px) {
            width: 100%;
          }
        }
        &--tile-view {
          width: 100%;
        }
        min-height: 110px;
        cursor: pointer;
        float: left;
        button {
          margin-top: 40px;
        }
        .btn--center {
          display: block;
        }
      }
      @media (max-width: 640px) {
        &__desc {
          margin-left: 15px;
          width: calc(100% - 15px);
          float: none;
        }
        &__action {
          // float: none;
          margin: 0 auto;
          button {
            margin: 25px auto 0 auto;
            display: block;
          }
        }
      }
    }
  }
// }
  