.page {
    &--dashboard {
        display: flex;
        background-color: $greyMain;
        &__menu {
            flex: 0 1 100px;
            background-color: $blueMain;
            min-height: 100vh;
            li {
                display: block;
                height: 70px;
                width: 100%;
                text-align: center;
                padding: 15px;
                cursor: pointer;
                font-size: 30px;
                i {
                    opacity: 0.6;
                }
                img {
                    height: 100%;
                }
                &:hover {
                    background-color: $brownMain;
                }
            }
        }
        &__content {
            margin: 50px;
            width: 100%;
        }
    }
    &--singleInvestment {
        margin-top: 150px;
    }
}
.investmentBlock {
    width: 100%;
    &:nth-of-type(even) {
        background-color: $greyMain;
    }
    &__inner {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: center;
        min-height: 200px;
    }
    &__icon {
        width: 200px;
        min-height: 110px;
        float: left;
        img {
            max-height: 150px;
        }
    }
    &__desc {
        text-align: left;
        width: calc(100% - 400px);
        float: left;
        padding-right: 15px;
        font-size: 14px;
    }
    &__action {
        width: 200px;
        min-height: 110px;
        cursor: pointer;
        float: left;
        button {
            margin-top: 40px;
        }
    }
    
}