.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // min-height: 100vh;
    // background-color: $greyMain;

    &__inner {
        min-width: 300px;
        &--margin {
            @media (min-width: 768px) {
                margin-top: 150px;
            }
        }
        h2{
            text-align: center;
        }
        p {
            font-size: 13px;
            color: #9a8352;
            text-align: right !important;
            margin: -5px 0;
            &:hover {
                color: #c3b28c;
                cursor: pointer;
            }
        }
        .btn {
            width: 100%;
            margin-top: 20px;
        }
    }
}
