.details {
    
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px 0 50px 0;
    }
    &__field {
        flex-basis: 33%;
        padding-right: 30px;
        @media (max-width: 761px) {
            flex-basis: 50%;
        }
        @media (max-width: 380px) {
            flex-basis: 100%;
        }
        label {
            font-size: 14px;
            font-weight: 500;
            color: #929191c4;
        }
        p {
            font-size: 16px;
            font-weight: 600;
            color: #8a8a8a;
        }
    }
}