.registration {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: $greyMain;
    
    .form,
    form {
        // .quarter {
        //     width: 50%;
        // }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &--register {
            width: 320px;
        }
        &_field {
            &--fileinput {
                margin-top: 15px;
                i {
                    margin: -5px 5px;
                }
            }
        }
        @media (min-width:610px) {
            // .form {
                &--register {
                    padding: 10px 25px;
                    width: 610px;
                }
                .quarter {
                    flex: 0 1 22%!important;
                }
                &__buttons {
                    width: 100%;
                }
            // }
          
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
             
                div{
                    &:nth-child(n) {
                        flex: 0 1 48%;
                    }
                    &:last-child {
                        justify-self: center;
                        font-size: 15px;
                        flex: 0 1 100%;
                    }
                }
            }
        }

    // }
    &__inner {
        margin-top: 50px;
        min-width: 300px;
        h2,p {
            text-align: center;
        }
        .btn {
            margin-top: 20px;
        }
        .kep-login-facebook {
            margin: 40px auto;
            display: block;
            font-size: 15px;
            padding: 15px;
        }
    }
    &__img-profile {
        margin-top: 50px;
        text-align: center;
        &--circle {
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }
    }
}
